{{#each posts}}
    {{#if next_row}}
        <div class="row page-row">
            <div class="col-sm-6">
                <div class="card card-bg">
                    <img class="category-img" src="/images/food.png" alt="Category" />
                    <div class="card-body">
                        <h5 class="card-title">{{activity_category}}</h5>
                        <p class="card-text">{{activity_name}}</p>
                        <p class="card-text">{{state_code}}, {{city}}</p>
                        <p class="card-text">{{activity_description}}</p>
                        <p class="card-text">{{rating}}</p>
                        <p class="card-text">{{cost}}</p>
                        <p class="card-text">{{input_insider}}</p>
                        <button class="btn btn-primary">Show photos</button>
                    </div>
                </div>
            </div>
    {{else}}
            <div class="col-sm-6">
                <div class="card card-bg">
                    <img class="category-img" src="/images/food.png" alt="Category" />
                    <div class="card-body">
                        <h5 class="card-title">{{activity_category}}</h5>
                        <p class="card-text">{{activity_name}}</p>
                        <p class="card-text">{{state_code}}, {{city}}</p>
                        <p class="card-text">{{activity_description}}</p>
                        <p class="card-text">{{rating}}</p>
                        <p class="card-text">{{cost}}</p>
                        <p class="card-text">{{input_insider}}</p>
                        <button class="btn btn-primary">Show photos</button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
{{/each}}